default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  username: postgres
  password: password
  # For details on connection pooling, see Rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: taggd-lite_development

test:
  <<: *default
  database: taggd-lite_test

production:
  <<: *default
  database: taggd-lite_production
  username: taggd-lite
  password: <%= ENV['TAGGD-LITE_DATABASE_PASSWORD'] %>
